#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.navbar {
  background-color: #004d00;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -89%;
  margin-left: -90%;
  margin-right: -90%;
}

.navbar h1 {
  margin: 0;
  font-size: 24px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.footer {
  display: flex;
  background-color: #004d00;
  color: white;
  justify-content: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-left: -38%;
  margin-right: 0%;
}
